@use '../styles/mixin' as *;
@import '../styles//variables.scss';

main{
    .mainSlideSec{

    }

    .firstBannerSec{
        @include pcWidth;
        .firstBannerList{
            @include flex();
            >li{
                +li{
                    position: relative;
                    &::before{
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 60%;
                        background-color: $gray-ligth ;
                    }
                }
                >img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}