.topBannerWrap{
    position: relative;
    >img{
        width: 100%;
        height: 100%;
    }
    .close{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(-20px, -50%);
        font-size: 30px;
        color: white;
        cursor: pointer;
    }
}

@media (min-width:481px) and (max-width:1023px){
    .topBannerWrap{
        display: none;
    }
}